*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;
}
/* banner style  */
.banner-container{
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    border-radius: 16px;
    margin-top: 20px;
    background-image: url(../images/Banner\ Image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
}
.banner-content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 600px;
color: white;
}
.banner-content p {
    font-size: 32px;
    font-weight: 400;
}
.banner-content h1 {
    font-size: 72px;
    font-weight: 800;
    text-align: center;
}

/* first section style  */

.first-section-container{
    width: 802px;
    height: 800px;
    margin: 0 auto;
    font-family: "Merriweather", serif;
    /* text-align: center; */
    margin-top: 90px;
    /* font-family: merriweather; */

}
.first-section-content{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.first-section-content h1{
    font-size: 88px;
    font-weight: bold;
    font-family: Inter;
    color: #FF0000;
}
.first-section-content p {
    font-size: 24px;
    font-weight: 600;
    font-family: Inter;
    color: #FF0000;
}
.first-section-content h3 {
    font-size: 48px;
    font-weight: bold;
    font-family: Inter;
    color: #070211;
}
.first-section-image{
    height: 100%;
    width: 100%;
    margin-top: 48px;

}