*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;
}
/* shared style  */
.btn-primary {
     color: #FFFFFF;
     font-family: Inter;
     font-size: 20px;
     font-weight: 700;
     margin-right: 460px;
     margin-top: 30px;
}



/* banner style  */
.banner-container{
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    border-radius: 16px;
    margin-top: 20px;
    background-image: url(../images/Banner\ Image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    color: white;
}
.banner-content p {
    font-size: 32px;
    font-weight: 400;
}
.banner-content h1 {
    font-size: 72px;
    font-weight: 800;
    text-align: center;
}

/* first section style  */

.first-section-container{
    width: 802px;
    height: 800px;
    margin: 0 auto;
    font-family: "Merriweather", serif;
    /* text-align: center; */
    margin-top: 90px;
    /* font-family: merriweather; */

}
.first-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-section-content h1{
    font-size: 88px;
    font-weight: bold;
    font-family: Inter;
    color: #FF0000;
}
.first-section-content p {
    font-size: 24px;
    font-weight: 600;
    font-family: Inter;
    color: #FF0000;
}
.first-section-content h3 {
    font-size: 48px;
    font-weight: bold;
    font-family: Inter;
    color: #070211;
}
.first-section-image{
    height: 100%;
    width: 100%;
    margin-top: 48px;

}
/* midnight container style  */
.midnight-section-container{
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    border: 2px solid green;
    margin-top: 20px;
    border-radius: 16px;
    display: flex;
    background-image: url(../images/Vectorrr.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode:overlay;}
.leftside-content{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    margin: 120px ;
    width: 50%;
    height: 600;

}
.leftside-content h1{
    font-family:Merriweather;
    font-size: 64px;
    font-weight: 800;
    color: white;
    margin-bottom: 20px;
       
}
.leftside-content p{
    font-family:Inter;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF ;
}
.rightside-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

/* vanue style  */
.vanue-section-container{
    width: 1320px;
    height: 450px;
    margin: 100px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border-radius: 8px;
    background-color: #FF0000;
    background-image: linear-gradient(rgb(244, 214, 209) , white);
}
.vanue-section-container p {
    font-family: Inter ;
    font-size: 32px;
    font-weight: 600;
}
.vanue{
    color: #FF0000;
}
.btn-join{
    background-color: #FF0000;
    color: white;
    margin-top: 50px;
    width: 167px;
    height: 56px;
    border-radius: 5px;
    margin: 16px 32px;
    font-family: Inter ;
    font-size: 20px;
    font-weight: 700;
    
}
.comming-offer-section-container{
    border: 2px solid tomato;
    width: 1320px;
    height: 450px;
    margin: 100px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.offer1{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-right: 20px;
}
.offer1 h5{ 
    font-size: 24px;
    font-weight: 600;
    font-family: Inter;
    color: #FF0000;
    margin-bottom: 10px;
}
.offer1 h2{
    font-size: 48px;
    font-weight: 800;
    font-family: merriweater;
    color: #070211;
    margin-bottom: 10px;
}
.offer1 p{
    font-size: 20px;
    font-weight: 400;
    font-family: Inter;
    color: rgba(7, 2, 17, 0.6);
}
.offer2{
    height: 100% ;
    width: 45% ;
    margin-top: 80px;
    margin-left: 100px;
}
.offer3{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-right: 20px;
}
.offer31{
    margin-top: 100px;
}
.offer31 h3{
font-size: 48px;
font-weight: 800;
font-family: Inter;
color: #FF0000;
margin-bottom: 10px;
}
.offer31 p{
    font-size: 20px;
    font-weight: 400;
    color: #070211;
    margin-bottom: 10px;
}
.offer32{
    margin-top: 50px;
}